body {
    background: url(pict.img/fon.img/1311201816_1.jpg);
    
    margin: 20px 200px;
    border: 5px solid rgb(187, 44, 187) ;
    
}

body>div {
    padding: 30px 50px;
    background: rgb(249, 243, 249) ;
    content: 20px;
    font-size: 19px;
}


h1 {
    text-align: center;
    font-family: Comic Sans MS;
   
}

.bold {
    font-size: 1.4em;
    font-family: Comic Sans MS;
    color: rgb(103, 43, 103);
    
}

.pauk {
    margin: 0px 50px;
}